body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
  background-color: rgb(232, 232, 232);
  color: #333;
}


/* BARRA DE NAVEGACION */

.navigation-wrap {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 10000;
  transition: all 0.3s ease-out;
}

.navigation-wrap .nav-item {
  padding: 0 10px;
  transition: all 0.3s linear;
}

.navigation-wrap.scroll-on {
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 28px 0 rgb(0, 0, 0, 0.09);
  transition: all 0.15s ease-in-out 0s;
}

.navigation-wrap.scroll-on .nav-link {
  color: #000;
}

.navigation-wrap.scroll-on .nav-link:hover,
.navigation-wrap.scroll-on .nav-link.active {
  color: rgb(168, 92, 240) !important;

}

.nav-link {
  font-size: 20px !important;
  font-weight: bolder !important;
  letter-spacing: 1px;
  color: #fff;
  border-bottom: 1px solid rgb(255, 255, 255);

}

.nav-link:hover {
  color: rgb(168, 92, 240) !important;
  border-bottom: 1px solid blueviolet;
}

.navbar-collapse {
  text-align: center;
}

.navbar {
  box-shadow: 0 4px 4px 0 rgba(118, 118, 118, 0.2), 0 3px 3px 0 rgb(171, 154, 187);
}


/* MENU HAMBURGUESA */

.navbar-toggler:focus {
  outline: none;
  border: unset;
  box-shadow: none;
}

.navbar-toggler {
  background-color: #d6dbe3;
  border: 3px solid #fff;
}

.navbar-toggler:hover {
  background-color: #d6dbe3;
}

.custom-toggler.navbar-toggler {
  border-color: #fff;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler .navbar-toggler-icon:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
  
.seccion {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    background: white;
    text-align: center;
    border-radius: 10px;
}
  
h1 {
    font-size: 24px;
    margin-bottom: 10px;
}
  
.search-input {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    margin: 10px auto 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .filters {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 1rem;
    margin: 1rem 0;
  }
  
  .filters select,
  .filters input {
    flex: 1;
    padding: 0.6rem 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1rem;
    background-color: #f9f9f9;
    color: #333;
    transition: all 0.3s ease;
    min-width: 0;
    appearance: auto;
  }
  
  .filters select:focus,
  .filters input:focus {
    outline: none;
    border-color: #3a86ff;
    box-shadow: 0 0 0 2px rgba(58, 134, 255, 0.2);
  }
  
  .filters select:hover,
  .filters input:hover {
    background-color: #f0f0f0;
    cursor: pointer;
  }
  
  #filterBtn {
    background-color: blueviolet;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
  }

  #filterBtn:hover {
    background-color: rgb(71, 17, 121);
  }


  
  #clearBtn {
    background-color: #a91919;
    color: white;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  #clearBtn:hover {
    background-color: #760707;
  }
  

  .results table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .results th, .results td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .results th {
    background-color: #f2f2f2;
  }
  
  .results tbody tr:hover {
    background-color: #f9f9f9;
    cursor: pointer;
  }
  
  .btn-aplicar {
    background-color: #28a745;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .btn-aplicar:hover {
    background-color: #218838;
  }
  
  

  
  footer {
    text-align: center;
    font-size: 14px;
    color: #666;
    margin: 40px auto;
    padding: 20px;
  }
  
  footer a {
    color: #337af1;
    text-decoration: none;
  }


  



  
